html {
    background-color: lightgreen;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

label, input {
    width: 100%;
    display:block;
}

label, button {
    margin-top: 5%;
}
